<div class="container">

  <mat-card>

    <form [formGroup]="chargeForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="48%">
            <mat-label>{{ "labels.inputs.Charge Applies To" | translate }}</mat-label>
            <mat-select required formControlName="chargeAppliesTo">
              <mat-option *ngFor="let chargeAppliesTo of chargeData.chargeAppliesToOptions"
                [value]="chargeAppliesTo.id">
                {{ chargeAppliesTo.code | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" style="margin-top:10px;">

          <mat-form-field fxFlex="48%">
            <mat-label>{{ "labels.inputs.Charge Name" | translate }}</mat-label>
            <input matInput required autofocus formControlName="name">
            <mat-error *ngIf="chargeForm.controls.name.hasError('required')">
              {{ "labels.inputs.Charge Name" | translate }} <strong>is required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{ "labels.inputs.Currency" | translate }}</mat-label>
            <mat-select required formControlName="currencyCode">
              <mat-option *ngFor="let currency of chargeData.currencyOptions" [value]="currency.code">
                {{ currency.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.currencyCode.hasError('required')">
              {{ "labels.inputs.Currency" | translate }} is <strong>required</strong>
            </mat-error>

          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{ "labels.inputs.Charge Time Type" | translate }}</mat-label>
            <mat-select required formControlName="chargeTimeType">
              <mat-option *ngFor="let chargeTime of chargeTimeTypeOptions" [value]="chargeTime.id">
                {{ chargeTime.code | translate}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.chargeTimeType.hasError('required')">
              {{ "labels.inputs.Charge Time Type" | translate }} is <strong>required</strong>
            </mat-error>

          </mat-form-field>

          <div fxFlex="48%" ngClass.gt-md="entries-wrapper" *ngIf="chargeForm.controls.chargeAppliesTo.value === 1" >
            <mat-label>Charge Calculation Type Filter<br></mat-label>

            <mat-checkbox labelPosition="after" formControlName="chargeCalculationTypeFilterFlat" class="entries" (change)="enableOrDisableCupoMaxSellField('amount', $event.checked)">
              {{"labels.inputs.chargeCalculationType.flat" | translate}}
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;
            <mat-checkbox labelPosition="after" formControlName="chargeCalculationTypeFilterDisbursal" class="entries" (change)="enableOrDisableCupoMaxSellField('amount', $event.checked)">
              {{"labels.inputs.chargeCalculationType.disbursal" | translate}}
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;

            <mat-checkbox labelPosition="after" formControlName="chargeCalculationTypeFilterAmount" class="entries" (change)="enableOrDisableCupoMaxSellField('amount', $event.checked)">
              {{"labels.inputs.chargeCalculationType.amount" | translate}}
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;
            <mat-checkbox labelPosition="after" formControlName="chargeCalculationTypeFilterInterest" class="entries" (change)="enableOrDisableCupoMaxSellField('interest', $event.checked)">
              {{"labels.inputs.chargeCalculationType.interest" | translate}}
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;
            <mat-checkbox labelPosition="after" formControlName="chargeCalculationTypeFilterOutstandingAmount" class="entries" (change)="enableOrDisableCupoMaxSellField('outstanding.amount', $event.checked)">
              {{"labels.inputs.chargeCalculationType.outstanding.amount" | translate}}
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;
            <mat-checkbox labelPosition="after" formControlName="chargeCalculationTypeFilterOutstandingInterest" class="entries" (change)="enableOrDisableCupoMaxSellField('outstanding.amount', $event.checked)">
              {{"labels.inputs.chargeCalculationType.outstanding.interest" | translate}}
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;
            <mat-checkbox labelPosition="after" formControlName="chargeCalculationTypeFilterInsurance" class="entries" (change)="enableOrDisableCupoMaxSellField('insurance', $event.checked)">
              {{"labels.inputs.chargeCalculationType.insurance" | translate}}
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;
            <mat-checkbox labelPosition="after" formControlName="chargeCalculationTypeFilterInsuranceType" class="entries" (change)="enableOrDisableCupoMaxSellField('insuranceType', $event.checked)">
              {{"labels.inputs.chargeCalculationType.voluntary.assistance" | translate}}
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;
            <mat-checkbox labelPosition="after" formControlName="chargeCalculationTypeFilterAval" class="entries" (change)="enableOrDisableCupoMaxSellField('aval', $event.checked)">
              {{"labels.inputs.chargeCalculationType.aval" | translate}}
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;
            <mat-checkbox labelPosition="after" formControlName="chargeCalculationTypeFilterHonorarios" class="entries" (change)="enableOrDisableCupoMaxSellField('honorarios', $event.checked)">
              {{"labels.inputs.chargeCalculationType.fee" | translate}}
            </mat-checkbox>

            <mat-checkbox labelPosition="after" formControlName="chargeCalculationTypeFilterTerm" class="entries" (change)="enableOrDisableCupoMaxSellField('term', $event.checked)">
              {{"labels.inputs.chargeCalculationType.term" | translate}}
            </mat-checkbox>
            <mat-error *ngIf="chargeForm.controls.chargeCalculationType.hasError('required')">
              {{ "labels.inputs.Charge Calculation Type" | translate }} is <strong>required</strong>
            </mat-error>
            <p *ngIf="showVoluntaryInsuranceError" class="mat-error ng-star-inserted">{{voluntaryInsuranceErrorCode | translate }}</p>
          </div>

          <div fxFlex="48%" *ngIf="false" >
            <mat-form-field fxFlex="48%">
              <mat-label>{{ "labels.inputs.Charge Calculation Type" | translate }}</mat-label>
              <mat-select required formControlName="chargeCalculationType">
                <mat-option *ngFor="let chargeCalculationType of chargeCalculationTypeOptions"
                  [value]="chargeCalculationType.id">
                  {{ chargeCalculationType.code }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="chargeForm.controls.chargeCalculationType.hasError('required')">
                {{ "labels.inputs.Charge Calculation Type" | translate }} is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>


          <mat-form-field fxFlex="48%" *ngIf="chargeForm.value.chargeCalculationTypeFilterTerm" >
            <mat-label>{{ "labels.inputs.Parent Charge" | translate }}</mat-label>
            <mat-select required formControlName="parentChargeId">
              <mat-option *ngFor="let parentChargeData of parentChargeDataList"
                [value]="parentChargeData.id">
                {{ parentChargeData.name | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.parentChargeId.hasError('required')">
              {{ "labels.inputs.Charge Calculation Type" | translate }} is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%" *ngIf="chargeForm.controls.chargeCalculationType.value === 9" >
            <mat-label>{{ "labels.inputs.Custom Charge" | translate }}</mat-label>
            <mat-select required formControlName="externalCalculationChargeId">
              <mat-option *ngFor="let parentChargeData of chargeFromExternalCalculationList"
                [value]="parentChargeData.id">
                {{ parentChargeData.code | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.externalCalculationChargeId.hasError('required')">
              {{ "labels.inputs.Charge Calculation Type" | translate }} is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%" *ngIf="chargePaymentMode">
            <mat-label>{{ "labels.inputs.Charge Payment Mode" | translate }}</mat-label>
            <mat-select required formControlName="chargePaymentMode">
              <mat-option *ngFor="let chargePaymentMode of chargeData.chargePaymetModeOptions"
                [value]="chargePaymentMode.id">
                {{ chargePaymentMode.code | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.chargePaymentMode.hasError('required')">
              {{ "labels.inputs.Charge Payment Mode" | translate }} is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{ "labels.inputs.Amount" | translate }}</mat-label>
            <input matInput required autofocus type="text" formControlName="amount" [readonly]='disableAmountAndBaseValue()'>
            <mat-error *ngIf="chargeForm.controls.amount.hasError('required')">
              {{ "labels.inputs.Amount" | translate }} <strong>is required</strong>
            </mat-error>
            <mat-error *ngIf="chargeForm.controls.amount.hasError('pattern')">
              {{"labels.inputs.Amount" | translate}} <strong>{{"labels.inputs.cannot" | translate}}</strong> {{"labels.inputs.have invalid number format" | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="98%" *ngIf="chargeForm.controls.chargeAppliesTo.value === 1">
            <mat-label>{{ "labels.inputs.Interest Rate" | translate }}</mat-label>
            <mat-select formControlName="interestRateId">
              <mat-option>---</mat-option>
              <mat-option *ngFor="let interestRateOption of interestRateOptions" [value]="interestRateOption.id">
                {{ interestRateOption.name }} ({{ interestRateOption['currentRate'] }}%)
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.customChargeId.hasError('required')">
              {{ "labels.inputs.Interest Rate" | translate }} {{ 'labels.commons.is'}} <strong>{{ 'labels.commons.required'}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%"
          *ngIf="chargeForm.controls.chargeAppliesTo.value === 1">
            <mat-label>{{ "labels.inputs.Charge Grace Period Amount" | translate }}</mat-label>
            <input type="number" matInput formControlName="graceOnChargePeriodAmount"/>
            <mat-error *ngIf="chargeForm.contains('graceOnChargePeriodAmount') && chargeForm.controls.graceOnChargePeriodAmount.hasError('required')">
              {{ "labels.inputs.Charge Grace Period Amount" | translate }} {{ 'labels.commons.is' | translate }} <strong> {{'labels.commons.required' | translate }} </strong>
            </mat-error>
            <mat-error *ngIf="chargeForm.contains('graceOnChargePeriodAmount') && chargeForm.controls.graceOnChargePeriodAmount.hasError('min')">
              {{ "labels.inputs.Charge Grace Period Amount" | translate }} <strong> {{ "labels.commons.must be greater than or equal to zero" | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%"
            *ngIf="chargeForm.controls.chargeAppliesTo.value === 1 && chargeForm.contains('graceOnChargePeriodEnum')">
            <mat-label>{{ "labels.inputs.Charge Grace Period Frequency" | translate }}</mat-label>
            <input matInput formControlName="graceOnChargePeriodEnum" value="Days" readonly/>
          </mat-form-field>

          <mat-form-field fxFlex="48%"
            *ngIf="(chargeForm.controls.chargeAppliesTo.value === 1 && (chargeForm.controls.chargeCalculationType.value === 2 || chargeForm.controls.chargeCalculationType.value === 3 || chargeForm.controls.chargeCalculationType.value === 4 || chargeForm.controls.chargeCalculationType.value==5)) || (chargeForm.controls.chargeAppliesTo.value === 2 && (chargeForm.controls.chargeTimeType.value === 16 || chargeForm.controls.chargeTimeType.value === 5)&&(chargeForm.controls.chargeCalculationType.value === 2)) || (chargeForm.controls.chargeAppliesTo.value === 4 && (chargeForm.controls.chargeTimeType.value==14 || chargeForm.controls.chargeTimeType.value==15) && chargeForm.controls.chargeCalculationType.value === 2)">
            <mat-label>{{ "labels.inputs.Minimum Charge Cap" | translate }} </mat-label>
            <input matInput autofocus formControlName="minCap">
          </mat-form-field>
          <mat-form-field fxFlex="48%"
            *ngIf="(chargeForm.controls.chargeAppliesTo.value === 1 && (chargeForm.controls.chargeCalculationType.value === 2 || chargeForm.controls.chargeCalculationType.value === 3 || chargeForm.controls.chargeCalculationType.value === 4 || chargeForm.controls.chargeCalculationType.value==5)) || (chargeForm.controls.chargeAppliesTo.value === 2 && (chargeForm.controls.chargeTimeType.value === 16 || chargeForm.controls.chargeTimeType.value === 5)&&(chargeForm.controls.chargeCalculationType.value === 2)) || (chargeForm.controls.chargeAppliesTo.value === 4 && (chargeForm.controls.chargeTimeType.value==14 || chargeForm.controls.chargeTimeType.value==15) && chargeForm.controls.chargeCalculationType.value === 2)">
            <mat-label>{{ "labels.inputs.Maximum Charge Cap" | translate }} </mat-label>
            <input matInput autofocus formControlName="maxCap">
          </mat-form-field>

          <mat-form-field fxFlex="48%" *ngIf="showGLAccount">
            <mat-label> {{ "labels.inputs.Income from charge" | translate }}</mat-label>
            <mat-select required formControlName="incomeAccountId">
              <mat-option *ngFor="let income of chargeData.incomeOrLiabilityAccountOptions.incomeAccountOptions"
                [value]="income.id">
                {{ income.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.incomeAccountId.hasError('required')">
              {{ "labels.inputs.Income from charge" | translate }} is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>{{ "labels.inputs.Tax Group" | translate }}</mat-label>
            <mat-select *ngIf="chargeData.taxGroup" formControlName="taxGroupId">
              <mat-option *ngFor="let taxGroup of chargeData.taxGroupOptions" [value]="taxGroup.id">
                {{ taxGroup.name }}
              </mat-option>
            </mat-select>

            <mat-select *ngIf="!chargeData.taxGroup" formControlName="taxGroupId">
              <mat-option *ngFor="let taxGroup of chargeData.taxGroupOptions" [value]="taxGroup.id">
                {{ taxGroup.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div fxFlex="48%" class="password-never-expires-wrapper checkbox" *ngIf="addFeeFrequency">
            <mat-checkbox labelPosition="before" [checked]="addFeeFrequency && showFeeOptions"
              (change)="getFeeFrequency($event.checked)">
              {{ "labels.inputs.Add Fee Frequency" | translate }}
            </mat-checkbox>
          </div>

          <mat-form-field fxFlex="48%" *ngIf="addFeeFrequency && showFeeOptions">
            <mat-label> {{ "labels.inputs.Frequency Interval" | translate }}</mat-label>
            <input matInput required autofocus type="text" formControlName="feeInterval">
            <mat-error *ngIf="chargeForm.controls.feeInterval.hasError('required')">
              {{ "labels.inputs.Frequency Interval" | translate }} <strong>is required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="48%" *ngIf="addFeeFrequency && showFeeOptions">
            <mat-label>{{ "labels.inputs.Charge Frequency" | translate }} </mat-label>
            <mat-select required formControlName="feeFrequency">
              <mat-option *ngFor="let chargeFrequency of chargeData.feeFrequencyOptions" [value]="chargeFrequency.id">
                {{ chargeFrequency.code | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="chargeForm.controls.feeFrequency.hasError('required')">
              {{ "labels.inputs.Fee Frequency" | translate }} <strong>is required</strong>
            </mat-error>
          </mat-form-field>

        </div>

        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column" style="margin-top:10px;">
          <div fxFlex="50%" fxLayout="row" fxLayoutGap="2%" fxLayout.lt-md="column">
            <div fxFlex="25%" class="password-never-expires-wrapper">
              <mat-checkbox labelPosition="before" formControlName="active">
                {{ "labels.inputs.Is Active" | translate }}
              </mat-checkbox>
            </div>

            <div fxFlex="25%" class="send-password-to-email-wrapper" *ngIf="showPenalty">
              <mat-checkbox labelPosition="before" formControlName="penalty">
                {{ "labels.inputs.Is Penalty" | translate }}
              </mat-checkbox>
            </div>
            <div fxFlex="50%" class="penalty-wrapper" *ngIf="chargeForm.controls.chargeAppliesTo.value === 1">
              <mat-checkbox labelPosition="before" formControlName="getPercentageAmountFromTable">
                {{"labels.inputs.getPercentageAmountFromTable" | translate}}
              </mat-checkbox>
            </div>
          </div>

          <mat-form-field *ngIf="shouldDisplayInsuranceFields('optional')" fxFlex="48%">
            <mat-label>{{"labels.inputs.charge.insurance.name" | translate}} </mat-label>
            <input matInput formControlName="insuranceName">
          </mat-form-field>

          <mat-form-field  *ngIf="shouldDisplayInsuranceFields('optional')" fxFlex="48%">
            <mat-label>{{ "labels.inputs.charge.insurance.chargedAs" | translate }}</mat-label>
            <mat-select required formControlName="insuranceChargedAs">
              <mat-option *ngFor="let chargedAs of chargeData.chargeInsuranceTypeOptions" [value]="chargedAs.id">
                {{ chargedAs.code | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="shouldDisplayInsuranceFields('all')" fxFlex="48%">
            <mat-label>{{"labels.inputs.charge.insurance.company" | translate}} </mat-label>
            <input matInput formControlName="insuranceCompany" [required]='areInsuranceFieldsRequired()'>
          </mat-form-field>
          <mat-form-field *ngIf="shouldDisplayInsuranceFields('all')" fxFlex="48%">
            <mat-label>{{"labels.inputs.charge.insurer.name" | translate}} </mat-label>
            <input matInput formControlName="insurerName" [required]='areInsuranceFieldsRequired()'>
          </mat-form-field>
          <mat-form-field *ngIf="shouldDisplayInsuranceFields('all')" fxFlex="48%">
            <mat-label>{{"labels.inputs.charge.insurance.code" | translate}} </mat-label>
            <input  type="number" matInput formControlName="insuranceCode" [required]='areInsuranceFieldsRequired()'>
          </mat-form-field>
          <mat-form-field *ngIf="shouldDisplayInsuranceFields('optional')" fxFlex="48%">
            <mat-label>{{"labels.inputs.charge.insurance.plan" | translate}} </mat-label>
            <input matInput formControlName="insurancePlan" [required]='areInsuranceFieldsRequired()'>
          </mat-form-field>
          <mat-form-field *ngIf="shouldDisplayInsuranceFields('optional')" fxFlex="48%">
            <mat-label>{{"labels.inputs.charge.insurance.base.value" | translate}} </mat-label>
            <input  type="number" matInput formControlName="baseValue" value="0" [required]='areInsuranceFieldsRequired()'/>
          </mat-form-field>
          <mat-form-field *ngIf="shouldDisplayInsuranceFields('optional')" fxFlex="48%">
            <mat-label>{{"labels.inputs.charge.insurance.vat.value" | translate}} </mat-label>
            <input type="number" matInput formControlName="vatValue" value="0" [required]='areInsuranceFieldsRequired()' />
          </mat-form-field>
          <mat-form-field *ngIf="shouldDisplayInsuranceFields('optional')" fxFlex="48%">
            <mat-label>{{"labels.inputs.charge.insurance.total.value" | translate}} </mat-label>
            <input  type="number" matInput formControlName="totalValue" value="0" [required]='areInsuranceFieldsRequired()' [readonly]='disableAmountAndBaseValue()'/>
          </mat-form-field>
          <mat-form-field *ngIf="shouldDisplayInsuranceFields('optional')" fxFlex="48%">
            <mat-label>{{"labels.inputs.charge.insurance.deadline" | translate}} </mat-label>
            <input type="number" matInput formControlName="deadline" [required]='chargeForm.value.insuranceChargedAs === 1'>
          </mat-form-field>
          <mat-form-field *ngIf="shouldDisplayInsuranceFields('all')" fxFlex="48%">
            <mat-label>{{"labels.inputs.charge.days.in.arrears" | translate}} </mat-label>
            <input type="number" matInput formControlName="daysInArrears" [required]='areInsuranceFieldsRequired()' oninput="this.value = Math.abs(this.value)">
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{ "labels.buttons.Cancel" | translate }}</button>
        <button mat-raised-button color="primary" [disabled]="!chargeForm.valid || showVoluntaryInsuranceError"
          *mifosxHasPermission="'UPDATE_CHARGE'">  {{ "labels.buttons.Submit" | translate }}</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
