.generate-original-report {
  padding: 1%;
  margin: 1%;
}
.container {
  max-width: 73rem;
}
.loan-original-report-iframe {
  width: 200%;
  height: 650px;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}
