<div class="container">
  <mat-card>
    <form [formGroup]="maximumCreditRateForm" (ngSubmit)="submit()">
      <mat-card-content>
        <h2>{{'labels.inputs.To change the EA rate to nominal' | translate}}</h2>
        <div fxLayout="column">
          <mat-form-field>
            <mat-label>{{'labels.inputs.Enter EA Rate' | translate }}</mat-label>
            <input matInput required min="0.01" max="100"   [maxLength]="5"  formControlName="eaRate" (keyup)="onControlChange()">
            <mat-error *ngIf="maximumCreditRateForm.controls.eaRate.hasError('required')">
              {{'labels.inputs.EA Rate' | translate }} is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="maximumCreditRateForm.controls.eaRate.hasError('pattern')">
              {{"labels.inputs.EA Rate" | translate}} <strong>{{"labels.inputs.cannot" | translate}}</strong> {{"labels.inputs.begin with a special character or number" | translate}}
            </mat-error>
            <mat-error *ngIf="maximumCreditRateForm.controls.eaRate.hasError('max')">
              {{"labels.inputs.EA Rate" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 100" | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="maximumCreditRateForm.controls.eaRate.hasError('min')">
              {{"labels.inputs.EA Rate" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 100" | translate }}</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field (click)="appliedOnDatePicker.open()">
            <mat-label>{{'labels.inputs.Applied On Date' | translate }}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="appliedOnDatePicker" required formControlName="appliedOnDate">
            <mat-datepicker-toggle matSuffix [for]="appliedOnDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #appliedOnDatePicker></mat-datepicker>
            <mat-error *ngIf="maximumCreditRateForm.controls.appliedOnDate.hasError('required')">
              {{'labels.inputs.Applied On Date' | translate }} is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <h2>{{'labels.heading.Result' | translate}}</h2>
        <div fxLayout="column">
          <mat-form-field>
            <mat-label> {{'labels.inputs.Annual Nominal Rate' | translate }}</mat-label>
            <input matInput required formControlName="annualNominalRate">
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'labels.inputs.Monthly Nominal Rate' | translate }}</mat-label>
            <input matInput formControlName="monthlyNominalRate">
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'labels.inputs.Daily Nominal Rate' | translate }}</mat-label>
            <input matInput formControlName="dailyNominalRate" mifosxFormatDecimal>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'labels.inputs.Current Interest Rate' | translate }}</mat-label>
            <input matInput required min="0.01" max="100"   [maxLength]="6"  formControlName="currentInterestRate">
            <mat-error *ngIf="maximumCreditRateForm.controls.currentInterestRate.hasError('required')">
              {{'labels.inputs.Current Interest Rate' | translate }} {{'labels.commons.is' | translate}} <strong>{{'labels.commons.required' | translate}}</strong>
            </mat-error>
            <mat-error *ngIf="maximumCreditRateForm.controls.currentInterestRate.hasError('pattern')">
              {{"labels.inputs.Current Interest Rate" | translate}} <strong>{{"labels.inputs.cannot" | translate}}</strong> {{"labels.inputs.begin with a special character or number" | translate}}
            </mat-error>
            <mat-error *ngIf="maximumCreditRateForm.controls.currentInterestRate.hasError('max')">
              {{"labels.inputs.Current Interest Rate" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 100" | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="maximumCreditRateForm.controls.currentInterestRate.hasError('min')">
              {{"labels.inputs.Current Interest Rate" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 100" | translate }}</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'labels.inputs.Overdue Interest Rate' | translate }}</mat-label>
            <input matInput required min="0.01" max="100"   [maxLength]="6"  formControlName="overdueInterestRate">
            <mat-error *ngIf="maximumCreditRateForm.controls.overdueInterestRate.hasError('required')">
              {{'labels.inputs.Overdue Interest Rate' | translate }} {{'labels.commons.is' | translate} <strong>{{'labels.commons.required' | translate}}</strong>
            </mat-error>
            <mat-error *ngIf="maximumCreditRateForm.controls.overdueInterestRate.hasError('pattern')">
              {{"labels.inputs.Overdue Interest Rate" | translate}} <strong>{{"labels.inputs.cannot" | translate}}</strong> {{"labels.inputs.begin with a special character or number" | translate}}
            </mat-error>
            <mat-error *ngIf="maximumCreditRateForm.controls.overdueInterestRate.hasError('max')">
              {{"labels.inputs.Overdue Interest Rate" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 100" | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="maximumCreditRateForm.controls.overdueInterestRate.hasError('min')">
              {{"labels.inputs.Overdue Interest Rate" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 100" | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{'labels.buttons.Cancel' | translate}}</button>
        <button mat-raised-button color="primary" [disabled]="!maximumCreditRateForm.valid" *mifosxHasPermission="'UPDATE_MAXIMUM_CREDIT_RATE'">{{'labels.buttons.Submit' | translate}}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
