<div class="container">

    <mat-card>

      <form [formGroup]="groupForm">

        <mat-card-content>

          <div fxLayout="row wrap" fxLayoutGap="50" fxLayout.lt-md="column">

            <mat-form-field fxFlex="100%">
              <mat-label>{{"labels.inputs.companyName" | translate }}</mat-label>
              <input [maxlength]="40" [minLength]="3" matInput required formControlName="companyName">
              <mat-error *ngIf="groupForm.controls.companyName.hasError('required')">
                {{"labels.inputs.companyName" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
              </mat-error>
              <mat-error *ngIf="groupForm.controls.companyName.hasError('pattern')">
                {{"labels.inputs.companyName" | translate }} <strong>{{"labels.inputs.cannot" | translate }}</strong> {{ "labels.commons.begin with a special character or number" | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="48%">
                <mat-label>{{"labels.inputs.nit" | translate }}</mat-label>
                <input [maxlength]="15" [minLength]="15" matInput required formControlName="nit">
                <mat-error *ngIf="groupForm.controls.nit.hasError('required')">
                  {{"labels.inputs.nit" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
                </mat-error>
                <mat-error *ngIf="groupForm.controls.nit.hasError('pattern')">
                  {{"labels.inputs.nit" | translate }} <strong>{{"labels.inputs.cannot" | translate }}</strong> {{ "labels.commons.begin with a special character or number" | translate }}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{"labels.inputs.nitDigit" | translate }}</mat-label>
                <input  [maxlength]="4" matInput required formControlName="nitDigit">
                <mat-error *ngIf="groupForm.controls.nitDigit.hasError('required')">
                  {{"labels.inputs.nitDigit" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
                </mat-error>
                <mat-error *ngIf="groupForm.controls.nitDigit.hasError('pattern')">
                  {{"labels.inputs.nitDigit" | translate }} <strong>{{"labels.inputs.cannot" | translate }}</strong> {{ "labels.commons.begin with a special character or number" | translate }}
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100%">
                <mat-label>{{"labels.inputs.address" | translate }}</mat-label>
                <input  [maxlength]="40" matInput required formControlName="address">
                <mat-error *ngIf="groupForm.controls.address.hasError('required')">
                {{"labels.inputs.address" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
                </mat-error>
                <mat-error *ngIf="groupForm.controls.address.hasError('pattern')">
                {{"labels.inputs.address" | translate }} <strong>{{"labels.inputs.cannot" | translate }}</strong> {{ "labels.commons.begin with a special character or number" | translate }}
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="48%">
              <mat-label>{{"labels.inputs.department" | translate }}</mat-label>
              <mat-select required formControlName="departmentCodeValueId" (selectionChange)="reloadCitiesByDepartment($event.value);">
                <mat-option *ngFor="let office of departmentsList" [value]="office.id">
                {{ office.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="groupForm.controls.departmentCodeValueId.hasError('required')">
                {{"labels.inputs.department" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="38%">
                <mat-label>{{"labels.inputs.city" | translate }}</mat-label>
                <mat-select required formControlName="cityCodeValueId">
                  <mat-option *ngFor="let office of citiesList" [value]="office.id">
                  {{ office.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="groupForm.controls.cityCodeValueId.hasError('required')">
                  {{"labels.inputs.city" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
                </mat-error>
            </mat-form-field>


            <mat-form-field fxFlex="108%">
                <mat-label>{{"labels.inputs.liquidationFrequency" | translate }}</mat-label>
                <mat-select required formControlName="liquidationFrequencyCodeValueId">
                  <mat-option *ngFor="let office of liquidationFrequencyList" [value]="office.id">
                  {{ office.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="groupForm.controls.liquidationFrequencyCodeValueId.hasError('required')">
                  {{"labels.inputs.liquidationFrequency" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
                </mat-error>
            </mat-form-field>

            <mat-checkbox labelPosition="after" formControlName="applyCupoMaxSell" fxFlex="100%" (change)="enableOrDisableCupoMaxSellField($event.checked)">
              {{"labels.inputs.applyCupoMaxSell" | translate }}
            </mat-checkbox>

            <mat-form-field fxFlex="25%">
                <mat-label>{{"labels.inputs.cupoMaxSell" | translate }}</mat-label>
                <input [maxlength]="13" matInput formControlName="cupoMaxSell" mifosxFormatInteger>
                <mat-error *ngIf="groupForm.controls.cupoMaxSell.hasError('pattern')">
                {{"labels.inputs.cupoMaxSell" | translate }} <strong>{{"labels.inputs.cannot" | translate }}</strong> {{ "labels.commons.begin with a special character or number" | translate }}
                </mat-error>
                <mat-error *ngIf="groupForm.controls.cupoMaxSell.hasError('required')">
                  {{"labels.inputs.cupoMaxSell" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
                </mat-error>
                <mat-error *ngIf="groupForm.controls.cupoMaxSell.hasError('max')">
                  {{"labels.inputs.cupoMaxSell" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 2147483647" | translate }}</strong>
                </mat-error>
                <mat-error *ngIf="groupForm.controls.cupoMaxSell.hasError('min')">
                  {{"labels.inputs.cupoMaxSell" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 2147483647" | translate }}</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25%">
                <mat-label>{{"labels.inputs.settledComission" | translate }}</mat-label>
                <input  min="0.00" max="99.99"   [maxLength]="5" matInput required formControlName="settledComission">
                <mat-error *ngIf="groupForm.controls.settledComission.hasError('required')">
                {{"labels.inputs.settledComission" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
                </mat-error>
                <mat-error *ngIf="groupForm.controls.settledComission.hasError('pattern')">
                {{"labels.inputs.settledComission" | translate }} <strong>{{"labels.inputs.cannot" | translate }}</strong> {{ "labels.commons.begin with a special character or number" | translate }}
                </mat-error>
                <mat-error *ngIf="groupForm.controls.settledComission.hasError('max')">
                  {{"labels.inputs.settledComission" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 99.99" | translate }}</strong>
                </mat-error>
                <mat-error *ngIf="groupForm.controls.settledComission.hasError('min')">
                  {{"labels.inputs.settledComission" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 99.99" | translate }}</strong>
                </mat-error>
            </mat-form-field>

            <mat-checkbox labelPosition="after" formControlName="buyEnabled" fxFlex="100%">
                {{"labels.inputs.buyEnabled" | translate }}
            </mat-checkbox>

            <mat-checkbox labelPosition="after" formControlName="collectionEnabled" fxFlex="100%">
                {{"labels.inputs.collectionEnabled" | translate }}
            </mat-checkbox>

            <mat-form-field fxFlex="20%">
                <mat-label>{{"labels.inputs.bankEntity" | translate }}</mat-label>
                <mat-select formControlName="bankEntityCodeValueId">
                  <mat-option *ngFor="let office of bankEntitiesList" [value]="office.id">
                  {{ office.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="groupForm.controls.bankEntityCodeValueId.hasError('required')">
                  {{"labels.inputs.bankEntity" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="20%">
                <mat-label>{{"labels.inputs.accountType" | translate }}</mat-label>
                <mat-select formControlName="accountTypeCodeValueId">
                  <mat-option *ngFor="let office of accountTypesList" [value]="office.id">
                  {{ office.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="groupForm.controls.accountTypeCodeValueId.hasError('required')">
                  {{"labels.inputs.accountType" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="40%">
                <mat-label>{{"labels.inputs.accountNumber" | translate }}</mat-label>
                <input [maxlength]="20" matInput formControlName="accountNumber">
                <mat-error *ngIf="groupForm.controls.accountNumber.hasError('required')">
                {{"labels.inputs.accountNumber" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
                </mat-error>
                <mat-error *ngIf="groupForm.controls.accountNumber.hasError('pattern')">
                {{"labels.inputs.accountNumber" | translate }} <strong>{{"labels.inputs.cannot" | translate }}</strong> {{ "labels.commons.begin with a special character or number" | translate }}
                </mat-error>
                <mat-error *ngIf="groupForm.controls.accountNumber.hasError('max')">
                  {{"labels.inputs.accountNumber" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 2147483647" | translate }}</strong>
                </mat-error>
                <mat-error *ngIf="groupForm.controls.accountNumber.hasError('min')">
                  {{"labels.inputs.accountNumber" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 2147483647" | translate }}</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="20%">
                <mat-label>{{"labels.inputs.taxProfile" | translate }}</mat-label>
                <mat-select required formControlName="taxProfileCodeValueId">
                  <mat-option *ngFor="let office of taxProfilesList" [value]="office.id">
                  {{ office.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="groupForm.controls.taxProfileCodeValueId.hasError('required')">
                  {{"labels.inputs.taxProfile" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="20%">
                <mat-label>{{"labels.inputs.state" | translate }}</mat-label>
                <mat-select required formControlName="stateCodeValueId">
                  <mat-option *ngFor="let office of statesList" [value]="office.id">
                  {{ office.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="groupForm.controls.stateCodeValueId.hasError('required')">
                  {{"labels.inputs.state" | translate }} {{ "labels.commons.is"  |translate}} <strong>{{ "labels.commons.required"  |translate}}</strong>
                </mat-error>
            </mat-form-field>
          </div>

        </mat-card-content>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
          <button type="button" mat-raised-button [routerLink]="['../']">{{"labels.buttons.Cancel" | translate }}</button>
          <button mat-raised-button color="primary" [disabled]="!groupForm.valid" (click)="submit()">{{"labels.buttons.Submit" | translate }}</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
