table {
  width: 100%;

  .select-row:hover {
    cursor: pointer;
  }
}
.table-container {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 100%; /* Set the width to 100% of the parent container */
  max-width: 1200px; /* Adjust the max-width as needed */
}


