$primary-palette: (
  100: rgba(#041e4f, 0.87),
  500: rgba(#041e4f, 0.87),
  700: rgba(#041e4f, 0.87),
  contrast: (
    100: rgba(black, 0.87),
    500: white,
    700: white
  )
);

$accent-palette: (
  100: rgba(#f61b3f, 0.87),
  500: rgba(#f61b3f, 0.87),
  700: rgba(#f61b3f, 0.87),
  contrast: (
    100: rgba(black, 0.87),
    500: rgba(black, 0.87),
    700: rgba(black, 0.87)
  )
);
