<div class="container m-b-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="2%">
  <button mat-raised-button color="primary" [routerLink]="['../edit']" *mifosxHasPermission="'UPDATE_CUSTOMCHARGETYPEMAP'">
    <fa-icon icon="edit" class="m-r-10"></fa-icon>
    {{'labels.buttons.Edit' | translate}}
  </button>
  <button mat-raised-button color="warn" *mifosxHasPermission="'DELETE_CUSTOMCHARGETYPEMAP'" (click)="delete()">
    <fa-icon icon="trash" class="m-r-10"></fa-icon>
    {{'labels.buttons.Delete' | translate}}
  </button>
</div>
<div class="container">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap" class="content">
        <div fxFlex="50%" class="mat-body-strong">
          {{'labels.inputs.ID' | translate }}
        </div>
        <div fxFlex="50%">
          {{ chargeMapData.id }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'labels.inputs.custom.charge.entity' | translate }}
        </div>
        <div fxFlex="50%">
          {{ chargeMapData.charge.code | translate }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'labels.inputs.custom.charge.type' | translate }}
        </div>
        <div fxFlex="50%">
          {{ chargeMapData['chargeType'].code | translate}}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'labels.inputs.term' | translate }}
        </div>
        <div fxFlex="50%">
          {{ chargeMapData.term}}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'labels.inputs.percentage' | translate }}
        </div>
        <div fxFlex="50%">
          {{ chargeMapData['percentage'] | formatNumber:[2]}}%
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'labels.inputs.validFrom' | translate }}
        </div>
        <div fxFlex="50%">
          {{ chargeMapData['validFromDate'] | dateFormat}}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'labels.inputs.Is Active' | translate }}
        </div>
        <div fxFlex="50%">
          {{ chargeMapData['active'] | yesNo }}
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'labels.inputs.Created By' | translate }}
        </div>
        <div fxFlex="50%">
          {{ chargeMapData['createdBy'] }}
        </div>

        <div fxFlex="45%" class="mat-body-strong" *ngIf="chargeMapData.chargeType.value === 'VIP'">
          {{'labels.inputs.Clients' | translate }}
        </div>
        <mat-list fxFlex="55%" *ngIf="chargeMapData.chargeType.value === 'VIP'">
            <mat-list-item *ngFor="let client of chargeMapData.clients">
                {{ client.displayName }} ({{ client['idNumber'] }})
            </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%" fxLayout.lt-md="column">
      <button type="button" color="primary" mat-raised-button [routerLink]="['../../']"> {{ 'labels.buttons.Back' | translate }}</button>
    </div>
  </mat-card>
</div>
