.container {
  max-width: 67rem;

  .content {
    div {
      margin: 1rem 0;
      word-wrap: break-word;
    }
  }
}

h2 {
  margin-top: 1rem;
  text-align: center;
}

mat-list {
  mat-list-item{
    font-size: small;
  }
}
