<mat-card class="container">

    <div fxLayout="row" fxLayoutAlign="start right" fxLayoutGap="5" >
      <div class="search-box"  fxFlex="100%">
        <mat-form-field fxFlex="30%">
          <input matInput placeholder="{{ 'labels.placeholders.client.allies.search' | translate }}" [formControl]="name" (keydown.enter)="loadClientallies($event.value)">
        </mat-form-field>
        <!--mat-checkbox #showClosedGroups labelPosition="after" (change)="changeShowClosedGroups()">{{"labels.inputs.Show Closed Groups"  |translate}}</mat-checkbox-->
      </div>
      <div class="action-button" fxLayoutGap="1" >
        <button mat-raised-button color="primary" [routerLink]="['create']" *mifosxHasPermission="'CREATE_CLIENTALLY'">
          <fa-icon icon="plus" class="m-r-10"></fa-icon>{{"labels.buttons.Create"  |translate}}
        </button>
      </div>
      <div class="action-button" fxLayoutGap="1" >
        <button mat-raised-button color="default" *mifosxHasPermission="'CREATE_CLIENTALLY'" [routerLink]="['/organization/bulk-import/Clients Allies']">
          <fa-icon icon="upload" class="m-r-10"></fa-icon>
          {{'labels.buttons.Import Allies' | translate }}
        </button>
      </div>
      <div class="action-button" fxLayoutGap="1" >
        <button mat-raised-button color="default" *mifosxHasPermission="'CREATE_CLIENTALLYPOINTOFSALES'" [routerLink]="['/organization/bulk-import/Points Of Sales']">
          <fa-icon icon="upload" class="m-r-10"></fa-icon>
          {{'labels.buttons.Import Points Of Sales' | translate }}
        </button>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource" #instructionsTable matSort *ngIf="reloaded">

      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"labels.inputs.companyName"  |translate}} </th>
        <td mat-cell *matCellDef="let apiData"> {{ apiData.companyName }} </td>
      </ng-container>

      <ng-container matColumnDef="nit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"labels.inputs.nit"  |translate}} </th>
        <td mat-cell *matCellDef="let apiData"> {{ apiData.nit }} </td>
      </ng-container>

      <ng-container matColumnDef="departmentCodeValueDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"labels.inputs.department"  |translate}} </th>
        <td mat-cell *matCellDef="let apiData"> {{ apiData.departmentCodeValueDescription }} </td>
      </ng-container>

      <ng-container matColumnDef="cityCodeValueDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"labels.inputs.city"  |translate}} </th>
        <td mat-cell *matCellDef="let apiData"> {{ apiData.cityCodeValueDescription }} </td>
      </ng-container>

      <ng-container matColumnDef="nrPointOfSell">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"labels.inputs.pointOfSell"  |translate}} </th>
        <td mat-cell *matCellDef="let apiData">
            <div class="action-button" fxLayoutGap="25px">
                <button mat-raised-button color="danger" (click) = "deleteEntity(apiData.id)"  *mifosxHasPermission="'CREATE_CLIENTALLYPOINTOFSALES'">
                  <i class="fa fa-sitemap" aria-hidden="true"></i> ({{ apiData.pointOfSalesCounter }})
               </button>
              </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="stateCodeValueDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"labels.inputs.state"  |translate}} </th>
        <td mat-cell *matCellDef="let apiData"> {{ apiData.stateCodeValueDescription }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="[row.id]" class="select-row"></tr>

    </table>

    <mat-paginator [length]="(apiData == null ? 0 : apiData.length)" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

  </mat-card>
