<div class="container">
  <mat-card>
    <form [formGroup]="advanceQuotaForm" (ngSubmit)="submit()">
      <mat-card-content>
        <h2>{{'labels.inputs.Advance Quota Configuration' | translate}}</h2>
        <div fxLayout="column">
          <mat-form-field>
            <mat-label>{{'labels.inputs.Percentage' | translate }}</mat-label>
            <input matInput required min="0.001" max="100"   [maxLength]="6"  formControlName="percentageValue">
            <mat-error *ngIf="advanceQuotaForm.controls.percentageValue.hasError('required')">
              {{'labels.inputs.Percentage' | translate }} {{'labels.commons.is' | translate }} <strong>{{'labels.commons.required' | translate }</strong>
            </mat-error>
            <mat-error *ngIf="advanceQuotaForm.controls.percentageValue.hasError('pattern')">
              {{"labels.inputs.Percentage" | translate}} <strong>{{"labels.inputs.cannot" | translate}}</strong> {{"labels.inputs.begin with a special character or number" | translate}}
            </mat-error>
            <mat-error *ngIf="advanceQuotaForm.controls.percentageValue.hasError('max')">
              {{"labels.inputs..Percentage" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 100" | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="advanceQuotaForm.controls.percentageValue.hasError('min')">
              {{"labels.inputs.Percentage" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 100" | translate }}</strong>
            </mat-error>
          </mat-form-field>
          <mat-checkbox fxFlex="50%" formControlName="enabled">
            <p>{{"labels.inputs.Enabled" | translate}}?</p>
          </mat-checkbox>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{'labels.buttons.Cancel' | translate}}</button>
        <button mat-raised-button color="primary" [disabled]="!advanceQuotaForm.valid" *mifosxHasPermission="'UPDATE_MAXIMUM_CREDIT_RATE'">{{'labels.buttons.Submit' | translate}}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
