<div class="container">
  <mat-card>
    <form [formGroup]="editChargeMapForm">
      <mat-card-content>
        <div fxLayout="column">
          <mat-form-field>
            <mat-label> {{'labels.inputs.custom.charge.entity' | translate }}</mat-label>
            <mat-select formControlName="customChargeEntityId">
              <mat-option *ngFor="let chargeOption of chargeOptions" [value]="chargeOption.id">
                {{ chargeOption.code | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label> {{'labels.inputs.custom.charge.type' | translate }}</mat-label>
            <mat-select formControlName="customChargeTypeId">
              <mat-option *ngFor="let chargeTypeOption of chargeTypeOptions" [value]="chargeTypeOption.id">
                {{ chargeTypeOption.code | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'labels.inputs.term' | translate }}</mat-label>
            <input matInput formControlName="term" />
            <mat-error *ngIf="editChargeMapForm.controls.term.hasError('required')">
              {{'labels.inputs.term' | translate }} {{'labels.commons.is' | translate }} <strong>{{'labels.commons.required' | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'labels.inputs.percentage' | translate }}</mat-label>
            <input matInput required min="0" max="100"   [maxLength]="5"  formControlName="percentage" />
            <mat-error *ngIf="editChargeMapForm.controls.percentage.hasError('required')">
              {{'labels.inputs.percentage' | translate }} {{'labels.commons.is' | translate }} <strong>{{'labels.commons.required' | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="editChargeMapForm.controls.percentage.hasError('pattern')">
              {{"labels.inputs.percentage" | translate}} <strong>{{"labels.inputs.cannot" | translate}}</strong> {{"labels.inputs.begin with a special character or number" | translate}}
            </mat-error>
            <mat-error *ngIf="editChargeMapForm.controls.percentage.hasError('max')">
              {{"labels.inputs.percentage" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 100" | translate }}</strong>
            </mat-error>
            <mat-error *ngIf="editChargeMapForm.controls.percentage.hasError('min')">
              {{"labels.inputs.percentage" | translate }} <strong> {{ "labels.commons.be larger than 0 and at most 100" | translate }}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field (click)="validFromDatePicker.open()">
            <mat-label>{{'labels.inputs.validFrom' | translate }}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="validFromDatePicker" formControlName="validFromDate" />
            <mat-datepicker-toggle matSuffix [for]="validFromDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #validFromDatePicker></mat-datepicker>
            <mat-error *ngIf="editChargeMapForm.controls.validFromDate.hasError('required')">
              {{'labels.inputs.validFrom' | translate }} is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div *ngIf="isChargeOfType(this.editChargeMapForm.controls.customChargeTypeId.value,'Commerce')">
            <h4>{{'labels.inputs.Point Of Sales' | translate }}</h4>
            <ng-container formArrayName="pointOfSales">
              <div *ngFor="let clientAllyOption of clientAllyOptions;">
                <div>
                  <p (click)="displayPointOfSales(clientAllyOption.id)">
                    {{ clientAllyOption.companyName }} ({{ clientAllyOption.nit }})
                  </p>
                  <div *ngIf="clientAllyOption.isVisible">
                    <mat-checkbox *ngFor="let pointOfSaleOption of clientAllyOption.pointOfSales; let i = index" [formControlName]="findPointOfSaleIndex(pointOfSaleOption.id)">
                      {{ pointOfSaleOption.name }}
                    </mat-checkbox>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <div *ngIf="isChargeOfType(this.editChargeMapForm.controls.customChargeTypeId.value,'VIP')">
            <h4>{{'labels.inputs.Clients' | translate }}</h4>
            <div fxLayoutGap="2%" class="m-b-20">
              <mat-card fxLayout="column" fxLayoutGap="2%" fxFlex="50%">
                <h3><strong>{{'labels.heading.Clients' | translate}} {{ 'labels.heading.Template' | translate }}</strong></h3>
                <div fxFlex="13%">
                  <button mat-raised-button color="primary" (click)="downloadTemplate()" >
                    <i class="fa fa-download"></i>&nbsp;&nbsp;{{'labels.buttons.Download' | translate }}
                  </button>
                </div>
              </mat-card>
              <mat-card fxLayout="column" fxLayoutGap="2%" fxFlex="50%">
                <h3><strong>{{ 'labels.heading.Clients' | translate}}</strong></h3>
                <h4>{{'labels.heading.Select Excel File' | translate }}</h4>
                <mifosx-file-upload flex="75%" (change)="onFileSelect($event)" acceptFilter=".xls,.xlsx"></mifosx-file-upload>
              </mat-card>
            </div>
          </div>

        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <button type="button" mat-raised-button [routerLink]="['../']">{{'labels.buttons.Cancel' | translate}}</button>
        <button mat-raised-button color="primary" [disabled]="!editChargeMapForm.valid" *mifosxHasPermission="'UPDATE_CUSTOMCHARGETYPEMAP'" (click)="submit()">{{'labels.buttons.Submit' | translate}}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
