<div class="container m-b-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="2%">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'UPDATE_ADVANCE_QUOTA'">
    <fa-icon icon="edit" class="m-r-10"></fa-icon>
    {{'labels.buttons.Edit' | translate}}
  </button>
</div>
<div class="container">
  <mat-card>
    <mat-card-content>
      <h2>{{'labels.inputs.Advance Quota Configuration' | translate}}</h2>
      <div fxLayout="row wrap" class="content">
        <div fxFlex="50%" class="mat-body-strong">
          {{'labels.inputs.Percentage' | translate }}
        </div>
        <div fxFlex="50%">
          {{ advanceQuotaData.percentageValue | formatNumber:[2]}}%
        </div>

        <div fxFlex="50%" class="mat-body-strong">
          {{'labels.inputs.Enabled' | translate }}
        </div>
        <div fxFlex="50%">
          {{ advanceQuotaData.enabled | yesNo }}
        </div>
      </div>
    </mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%" fxLayout.lt-md="column">
      <button type="button" color="primary" mat-raised-button [routerLink]="['../']">Back</button>
    </div>
  </mat-card>
</div>
