<div class="container mat-elevation-z8">

  <mat-card>

    <form [formGroup]="unblockLoanForm" (ngSubmit)="submit()">

      <mat-card-content>

        <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start stretch">

          <mat-form-field fxFlex="100%">
            <mat-label>{{"labels.inputs.Note" | translate}}</mat-label>
            <textarea matInput formControlName="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
          </mat-form-field>


        </div>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
          <button type="button" mat-raised-button [routerLink]="['../../../../general']">{{ "labels.buttons.Cancel" |
            translate }}
          </button>
          <button mat-raised-button color="primary" [disabled]="!unblockLoanForm.valid"
            *mifosxHasPermission="'UNBLOCK_LOAN'">{{ "labels.buttons.UndoBlock" | translate }}
          </button>
        </mat-card-actions>

      </mat-card-content>

    </form>

  </mat-card>

</div>